.clinics-search-div {
  width: 100%;
  min-height: 40px;
  background-color: #178066;
  color: #fff;
  padding: 40px;
  padding-bottom: 30px;
  border-radius: 5px;
}

.clinics-search-form {
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
}

.search-input {
	width: 86%;
	height: 40px;
	outline: none;
	border: none;
	font-size: 16px;
	border-radius: 2px;
	border: 1px solid #e8e8e8;
	padding: 0 10px;
	color: #000 !important;
}

.clinics-search-button {
	background-color: #fff;
	width: 12%;
	height: 40px;
	outline: none;
	border: none;
	font-size: 18px;
	border-radius: 4px;
	color: #178066;	
}

.search-bottom, .search-left {
	display: flex;
	justify-content: space-between;	
	color: #fff;
	align-items: center;
}

.search-left p {
	padding-right: 10px;
	font-size: 16px;
	margin: 0px;
}

.search-left span {
	font-size: 12px;
	text-decoration: underline;
}

.search-right {
	cursor: pointer;
}

.search-modal-btn {
	color: #fff;
	font-size: 14px;
	text-decoration: underline;
}

.search-modal-btn:hover {
	color: #fff;
	text-decoration: underline;
}


.clinics-route-div {
	padding: 30px 0;
}

.clinics-route-div a {
	color: #178066;
	font-weight: 600;
}

.clinics-route-div a:hover {
	color: #178066;
}

.result-clinics {
	margin-bottom: 30px;
}

.filter {
	padding-left: 15px;
	margin-bottom: 10px;
}

.filter-refresh {
	font-size: 14px;
}

.filter-refresh:hover {
	color: #178066;
}

.fa-sync-alt {
	font-size: 14px;
}

.clinics-body {
	display: flex;
	justify-content: space-between;
}

.body-left {
	position: relative;
	left: -15px;
	width: 77%;
}

.body-right {
	width: 22%;
	background-color: #888;
}

.form-group div {
	width: 100%;
}

.control-label {
	color: #178066;
}

.course {
	width: 100%;
	height: 35px;
	border-radius: 4px;
	outline: none;
	color: #99869d;
}

.form-group div input {
	width: 100%;
}


/*cards*/
.card-wrapper {
	position: relative;
	left: 15px;
	padding-right: 15px;
	/*width: calc(100%-15px);*/
}

.clinics-to-doctors {
	display: flex;
	margin-bottom: 30px;
}

.clinics-route {
	width: 50%;
	text-align: center;
	cursor: pointer;
}

.clinics-border {
	border-bottom: 2px solid #178066;
	padding-bottom: 10px;
}

.clinics-route span {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 800;
	color: #178066;
}

.doctors-border {
	border-bottom: 2px solid #17806670;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 800;
	color: #17806650;
}

.doctors-border span {
	color: #17806670;	
}

.card {
	display: flex;
	flex-direction: row;
	width: 100%;
	border: 2px solid #290333;
	padding: 30px 0px;
	margin-bottom: 20px;
}

.card-logo-a {
	width: 100%;
	height: auto;
}

.card-logo {
	width: 100%;
	height: 100%;
}

.card-left {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;

}

.card-rating {
	padding: 5px 0;
}

.card-rating .fa-star {
	color: #888;
}

.card-reccomend {
	padding: 5px 0;
	font-weight: 600;
	cursor: pointer;
	color: #178066;
	font-size: 14px;
}

.card-like-num {
	border-radius: 4px;
	width: 60%;
	background-color: #178066;
	padding: 5px 10px;
	color: #fff;
}

.card-like-num .fa-smile {
	padding-right: 5px;
}


.card-middle {
	color: #6c646e;
}

.card-middle a {
	color: #000;
	font-size: 18px;
}
.card-middle a b {
	display: block;
	font-weight: 800;
}

.card-links {
	margin-top: 30px;
	width: 100%;
	display: flex;
	/*justify-content: space-;*/
}

.card-links i {
	font-size: 40px;
	margin-right: 10px;
	cursor: pointer;
}


.card-address, .card-time {
	display: flex;
}
.card-time ul {
	list-style-type: none;
	padding-left: 0; 
}

.card-address i, .card-metro i, .card-time i, .card-phone a i {
	padding-right: 10px;
	width: 25px;
	color: #178066;
}

.card-metro {
	padding-bottom: 5px;
}

.card-time {
	padding: 5px 0 0px 0;
}

.card-phone {
	padding-bottom: 10px; 
}

.card-phone a {
	color: #6c646e;
}

.card-phone a:hover {
	color: #6c646e;
}

.card-btns {
	display: flex;
	justify-content: space-between;
}

.card-btns button {
	border: none;
	border-radius: 4px;
	padding: 5px 10px;
}

.card-btn-1 {
	background-color: #178066;
	color: #fff;
}

.card-btn-2 {
	background-color: #1292d3;
	color: #fff;
}



